* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.app {
    display: flex;
    justify-content: center;
}

body {
    background: #666;
    font-family: "Open Sans", sans-serif;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.user-info p:first-child {
    font-size: 19px;
}
.user-info p:last-child {
    font-size: 12px;
    color: #666;
}

.img-round {
    width: 100px;
    height: 100px;
}

.img-round img {
    width: 100px;
    object-fit: contain;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    width: 50vw;
    margin-top: 2rem;
    background: #fff;
}

.nb-wrapper {
    background: #fff;
    width: 100%;
    padding: 1rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1rem;
}

.nb-top {
    display: flex;
    align-items: center;
}

.navbar button  a {
    text-decoration: none;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.navbar button {
    background: #ccc;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}

.navbar button i {
    color: #333;
    font-size: 14px;
}

.tab-content {
    border-top: 1px solid #ccc;
    width: 100%;
}
.tab {
    padding: 1rem;
}
.tab2 {
    display: none;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-group i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #333;
}

.form-group textarea,
.form-group input {
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #333;
}

.form-group textarea:focus,
.form-group input:focus {
    border: 1px solid  #0066cc;
    box-shadow: 0px 0px 0px 5px #cce6ff;
}



.con-sep {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-wrapper button {
    padding: 5px;
    align-self: flex-end;
    width: 100px;
}

.user-infos {
    display: flex;
    align-items: center;
}

.user-info .img-round img {
    width: 30px;
}

/*  */

.consults {
    height: 40rem;
    overflow: hidden;
    overflow-y: scroll;
}

.apt-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #ccc;
    height: 45rem;
    overflow: hidden;
    overflow-y: auto;
}

.user-header {
    display: flex;
    align-items: center;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.adm-res {
    display: flex;
    align-items: center;
    gap: .5rem;

}
.adm-res select,
.adm-res button,
.adm-res input {
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    background: #ccc;
    border: 1px solid #ccc;
}

.c_date {
    width: 10rem;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    align-self: flex-end;
    color: #0066cc;
}

.adm-res select:focus,
.adm-res input:focus,
.adm-res button:focus {
    border: 1px solid  #0066cc;
    box-shadow: 0px 0px 0px 5px #cce6ff;
    background: #fff;
}

.ct-status {
    font-size: 12px;
    color: red;
}

.response {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    font-size: 13px;
    padding-top: 10px;
    gap: .5rem;
}

.fb-wrapper {
    display: flex;
    gap: 1rem;
    padding: 7px;
    background: #ccc;
    border-radius: 5px;
}

.fb-head {
    display: flex;
    gap: 1rem;
}

.reject {
    color: red;
}

.accept {
    color: green;
}